### import
- 일조합 : 일사시간(구름이나 안개 따위에 가려지지 아니하고 햇볕이 실제로 내리쬐는 시간)의 합계

### 기온

In [66]:
import pandas as pd
import numpy as np

In [83]:
tem = pd.read_csv("C:/Users/user/Documents/python/Dacon/data/기상청/20160201_20210409_기온.csv", encoding = "cp949")
tem = tem.fillna(0)
tem.head(3)

,\t\t지점번호,지점명,일시,평균기온(℃),최고기온(℃),\t최고기온시각,최저기온(℃),최저기온시각일교차,Unnamed: 8
0,\t\t192,진주,2016-01-01,-0.1,8.7,14:23,-6.7,6:48,15.4
1,\t\t192,진주,2016-01-02,1.8,10.8,15:18,-3.6,7:32,14.4
2,\t\t192,진주,2016-01-03,4.0,14.5,15:19,-2.2,3:42,16.7

In [84]:
tem = tem[["일시", "평균기온(℃)"]]
tem = tem.dropna(subset = ["일시"])

tem.tail(3)

     일시  평균기온(℃)
2197  0      0.0
2198  0      0.0
2199  0      0.0

### 강수

In [85]:
rain = pd.read_csv("C:/Users/user/Documents/python/Dacon/data/기상청/20160201_20210409_강수량.csv", encoding = "cp949")
rain.head(3)

  \t지점번호 지점명          일시  강수량(mm)  1시간최다강수량(mm) 1시간최다강수량시각
0  \t192  진주  2016-01-01      NaN           NaN        NaN
1  \t192  진주  2016-01-02      NaN           NaN        NaN
2  \t192  진주  2016-01-03      NaN           NaN        NaN

In [86]:
rain = rain[["일시", "강수량(mm)"]]
rain["강수량(mm)"] = rain["강수량(mm)"].fillna(0)
rain = rain.dropna(subset = ["일시"])
rain = rain.fillna(0)
rain.isnull().sum()

일시         0
강수량(mm)    0
dtype: int64

### 일조

In [87]:
sun = pd.read_csv("C:/Users/user/Documents/python/Dacon/data/기상청/20160201_20210409_일조일사.csv", encoding = "cp949")
sun = sun.fillna(0)
sun.head()

  \t\t지점번호 지점명          일시  일조합   일조율    일사합
0  \t\t192  진주  2016-01-01  8.6  87.8  10.63
1  \t\t192  진주  2016-01-02  5.4  54.5   7.02
2  \t\t192  진주  2016-01-03  6.5  65.7   8.64
3  \t\t192  진주  2016-01-04  6.6  66.7   9.25
4  \t\t192  진주  2016-01-05  1.1  11.1   2.83

In [88]:
sun = sun[["일시", "일조합"]]
sun = sun.dropna(subset = ["일시"])

sun.tail(3)

              일시  일조합
2191  2021-12-31  8.5
2192           0  0.0
2193           0  0.0

### concat

In [89]:
tem_rain_sun = pd.concat([tem, rain, sun], axis = 1)
tem_rain_sun = tem_rain_sun.iloc[:,[0,1,3,5]]
tem_rain_sun.tail(4)

     일시  평균기온(℃)  강수량(mm)  일조합
2196  0      0.0      NaN  NaN
2197  0      0.0      NaN  NaN
2198  0      0.0      NaN  NaN
2199  0      0.0      NaN  NaN

# 2021-04-09 까지만 추출 => 나중에 해당 일자만 병합할 거니까 굳이 안 해도 됨
tem_rain_sun[tem_rain_sun["일시"] <= '2021-04-09']

### SAVE

In [90]:
tem_rain_sun.to_csv("C:/Users/user/Documents/python/Dacon/data/기상청/20160201_20210409_기온_강수량_일조_병합.csv", encoding = "cp949", index = False)